@font-face {
  font-family: 'Aesthetic Demo';
  src: url('AestheticDemo-w4A2.otf');
}
@font-face {
  font-family: 'BowlbyOne';
  src: url('BowlbyOneSC-Regular.ttf');
}
@font-face {
  font-family: 'Beware';
  src: url('Beware.ttf');
}
@font-face {
  font-family: 'Doppio';
  src: url('DoppioOne-Regular.ttf');
}
.round {
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 10px;
}
.round a:active {
  color: white;
}
.round.text-notification {
  position: absolute;
  z-index: 3;
  font-size: 10px;
  left: 50%;
  margin-left: 10px;
  top: 50%;
  margin-top: -10px;
  color: white;
}
@media screen and (max-width: 768px) {
  .round {
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    color: white;
    width: 14px;
    height: 14px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 13px;
    right: 10px;
  }
  .round.text-notification {
    font-family: Helvetica;
    position: absolute;
    z-index: 3;
    font-size: 3.5px;
    left: 50%;
    margin-left: 7px;
    top: 50%;
    margin-top: -7px;
    color: white;
  }
}
img {
  width: 200px;
  height: auto;
}
video {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: auto;
  padding: 20px;
}
h1 {
  font-family: 'Aesthetic Demo';
  position: -webkit-sticky;
  position: sticky;
  color: #ff021b;
  top: 0;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}
h1 a {
  font-size: 50px;
  transition: all 0.5s;
  text-decoration: none;
  display: inline-block;
}
h1 a:hover {
  color: white;
}
h2 {
  font-family: 'Beware';
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  color: black;
}
h3 {
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  color: black;
}
h4 {
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}
h5 {
  color: black;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}
h6 {
  color: black;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
}
.center {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("windowsfield.jpg");
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  filter: brightness(110%);
  position: -webkit-sticky;
  position: sticky;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.navmedium {
  overflow: hidden;
  font-size: 15px;
  filter: brightness(150%);
  filter: contrast(100%);
}
.navmedium a {
  float: left;
  color: black;
  text-align: center;
  padding: 21px 18px;
  text-decoration: none;
  font-size: 12px;
}
.navmedium a:hover {
  background-color: black;
  color: white;
  transition: 0.7s all;
  transform: scale3d(1.1, 1.1, 1.1);
}
.navmedium a.active {
  font-family: 'Aesthetic Demo';
}
.navmedium.right {
  color: black;
  float: right;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #tablet {
    display: none;
  }
  #cart_total {
    color: red;
  }
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  font-family: 'Beware';
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #666666;
  display: block;
  transition: 0.3s;
}
.sidebar a:active {
  text-decoration: none;
}
.sidebar a:hover {
  color: #ff021b;
}
.sidebar.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  float: left;
  border: none;
  font-family: 'Aesthetic Demo';
}
.openbtn:hover {
  background-color: white;
}
.sidecart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidecart a {
  font-family: monospace;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidecart a:active {
  text-decoration: none;
}
.sidecart a:hover {
  color: #ff021b;
}
.sidecart a.total {
  font-family: 'Doppio';
  background-color: #28a745;
  color: black;
}
.sidecart a.total:hover {
  transition: all 0.25s;
  background-color: #ff021b;
  color: black;
}
.sidecart.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.opencart {
  font-size: 15px;
  border: none;
}
.opencart:hover {
  background-color: #ff021b;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
#main_cart {
  transition: margin-right 0.5s;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .openbtn {
    display: none;
  }
  .opencart {
    display: none;
  }
  #minscreen {
    display: none;
  }
  .navmedium.right a.button {
    overflow: hidden;
    background-color: white;
    color: white;
    text-align: center;
    padding: 16px 18px;
    font-size: 19px;
    text-decoration: none;
    display: inline-block;
  }
  .navmedium.right a.button:hover {
    background: #28a745;
    color: white;
  }
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .openbtn {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  #pc-laptop-img {
    width: 300px;
  }
  #pc-laptop-img img {
    min-width: 300px;
  }
  figcaption {
    float: bottom;
  }
}
.ui-cart {
  padding: 5px;
  overflow: hidden;
}
.ui-cart a {
  font-size: 15px;
  padding: 12px 13px;
}
@media screen and (max-width: 768px) {
  #pc-laptop-img {
    display: none;
  }
  #product-card {
    flex-direction: column;
    padding-top: 0;
  }
  #mobile-card,
  .ui-cart {
    width: 100%;
  }
  .ui-cart {
    flex-direction: row;
    box-shadow: 0px 2px 0 rgba(26, 88, 38, 0.25);
  }
  .ui-cart.right {
    float: right;
    padding: 5px;
  }
}
@media screen and (min-width: 769px) {
  article {
    padding-top: 3rem !important;
  }
  #mobile-card {
    width: 18rem;
  }
  #mobile-img {
    display: none;
  }
  .ui-cart {
    width: 150px;
    height: 200px;
    background-color: pink;
  }
}
body {
  background-color: linear-gradient(#C0C0C0, white);
  opacity: 1;
  transition: 2.5s opacity;
  color: black;
  text-decoration: none;
  font-family: monospace;
}
body.fade {
  opacity: 0;
  transition: none;
}
footer {
  font-family: 'Doppio';
  font-size: 0.7rem;
  padding-top: 25px;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: none;
  color: black;
  text-align: center;
}
ul.nav {
  font-family: 'Beware';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
ul.nav li {
  float: left;
}
ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}
ul.nav li a:hover {
  background-color: #111;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 5px 5px 5px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 575.98px) {
  .responsive {
    width: 85%;
    margin: 5px;
    height: 100px;
    background-color: #28a745;
  }
  .image-responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .responsive {
    flex: 1 0 42.99999%;
    margin: 5px;
    height: 100px;
    background-color: pink;
  }
  img {
    max-width: 130px;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  img {
    max-width: 150px;
    height: auto;
  }
}
.image-responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.img-gallery {
  border: 1px solid #777;
}
.img-gallery:hover {
  border: 1px solid #f2f2f2;
}
.img-gallery > img {
  width: auto;
  height: auto;
  border: 0;
  border-style: none;
}
#cd-gallery-items li {
  margin-bottom: 1.5em;
  list-style-type: none;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
#cd-gallery-items li img:hover {
  opacity: 0.8;
  transition: 0.25s all;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
main {
  position: relative;
  min-height: 100%;
  padding-top: 70px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 120px;
  }
}
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}
.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
span.price {
  float: right;
  color: #f2f2f2;
}
.btn-checkout {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
@media screen and (max-width: 850px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
